

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
*{
	font-weight:700;
	font-color :var(--bs-light);

}

a{
	cursor:pointer
}

body{
	overflow-x:auto;
	display:inline;
}

.bg-image{
	background : no-repeat url("bg.webp") ;
	background-attachment :fixed;
	background-size: cover;
	
	
}
p{
	font-weight:500;
}

.for-fill{
	height : 90vh ;
	padding:50px;
}

.navbar{
	z-index:99;
	padding:0 20px;
	position:sticky;
	top:0;
}
.nav-link{
color: var(--bs-light);
	transition:0.4s linear all;
    padding : 1em;
    
}
.nav-link:hover{
	color: var(--bs-dark);
}

.btn{
	border:none;
}

.btn-circle{
	border-radius:50%;
	border:none;
	position:relative;
	top:-40px;
	cursor:pointer;
	height:100px;
	width:100px;
	background : var(--bs-gray-900);
}

.nav-link.active ,.btn-danger:hover{
	background: var(--bs-gray-900) !important;
	color:var(--bs-danger) !important
}



.card{
	background: var(--bs-gray-800);
}

.card ul{
	list-style-type :none;
	line-height: 200%
}

nav{

	position: !important sticky;
	top: 0;
}

#search_opt{
	width :30vw;
	float:right;
	background-color : rgb(32,32,32);
	padding:50px;
	
}

#payement_card{
	background-color : rgb(16,16,16);
	height :70vh;
	max-width :70vw;
	margin:auto;
	padding: 100px 10%;
}
.form-check-input[type=radio]{
	margin-left: 15px;
	height :32px;
	width :32px;
	background-color : var(--bs-dark);
	border-color : var(--bs-danger);
	border-width:2px;

}
.form-check-input[type=radio]:checked{
	--bs-form-check-bg-image :url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23ec3939'/%3e%3c/svg%3e");

}
.form-check-input:checked[type=checkbox]{
	background-color : var(--bs-danger);
	--bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23121212' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
	--bs-form-check-bg : var(--bs-dark);
}
.qnt_display{
	margin:0 10px;
	width :100px
	
}

.table{
	width:100%;
	border-collapse: collapse;
	overflow-x: auto;
}
i{
	font-size:1.5rem;
}
th{
	min-width:100px;
	text-align :center;
}

tr{
	
	transition: 0.4s ease-in-out all;
}
input[name=id]{
	display:none;
}
.form-control {
	margin :10px;
	background-color : var(--bs-gray-900)!important;
	color:var(--bs-light) !important;
	border:1px solid var(--bs-danger);
	font-size:1.2rem;
}
.form-control:focus {
	background-color:var(--bs-gray-800);
	color:var(--bs-danger);
}

 .form-control::file-selector-button{
	background-color : var(--bs-gray-900);
	color:var(--bs-danger);
 }
 
.form-control::file-selector-button{
	background-color : var(--bs-gray-900);
	color:var(--bs-danger);
 }
.form-control::file-selector-button:hover{
	background-color : var(--bs-gray-800) ;
	color:var(--bs-danger);
 }
 
 .form-container{
 background: var(--bs-gray-800);
  width:33vw;
 }
 
 .pagination .page-item .page-link{
 	background : var(--bd-grey-900);
 	color:var(--bs-danger);
 }
 .pagination  .disabled .page-link{
 	background: var(--bs-gray-700);
 	color : var(--bs-dark);
 }
 
 .filter-section{
 z-index:99;
 	position:fixed;
 	top:0;
 	height:100vh;
 	float:left;
 	padding:20px;
 	background : var(--bs-danger);
 	font-size: 1.2em;
 	font-weight : 700;
 	transition :0.4s all ease-in-out;
 	
 }
 

 
 .filter-section .form-control{
 	background : var(--bs-dark);
 	height:40px;
 	width:100px;
 	border-radius: 40px;
 	text-aligne:center;
 }

 
 .filter-section .form-check-input{
 	height:20px;
 	width:20px;
 }
 

 @media(max-width:720px){
 .filter-section{
 	width:100vw;
 }
 .form-container{
    width:70vw
 }
 }
 